.wave-hand {
  animation: wave 2s;
}

.wave-hand:hover {
  animation: wave 2s infinite;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(20.0deg) }
  20% { transform: rotate(-10.0deg) }
  30% { transform: rotate(20.0deg) }
  40% { transform: rotate(-5.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.fade-in {
  animation: fade-in-keyframe 250ms linear forwards;
}
.fade-out {
  animation: fade-out-keyframe 250ms linear forwards;
}
@keyframes fade-in-keyframe {
  from { opacity: 0;}
  to { opacity: 1;}
}
@keyframes fade-out-keyframe {
  from { opacity: 1;}
  to { opacity: 0;}
}

.btn-scroll-down {
  animation: btn-scroll-down-keyframe 1s infinite;
  position: relative;
}

@keyframes btn-scroll-down-keyframe {
  from { top: 0px; }
  to { top: 10px; }
}

#containerr {
  position: absolute;
  width: 100vw;
  height: calc(100% - 10px);
  bottom: 10px;
  z-index: 1;
  pointer-events: none;
  
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: inline-block;
  user-select: none;
}

@media (max-width: 991.98px) {
  #containerr {
    bottom: 7px;
  }
}

@media (max-width: 767.98px) {
  #text1,
  #text2 {
    top: 60px;
    width: 100%;
    text-align: center;
  }
  .navbar-brand{
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .wave-hand {
    animation: wave 2s infinite;
  }
}

@media (orientation: portrait) {
  .wave-hand {
    animation: wave 2s infinite;
  }
}